* {
    border:        none;
    border-radius: 0;
    font-family:   "mononoki Nerd Font";
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(40, 40, 40, 1);
}

window#waybar.solo {
    color:      rgba(217, 216, 216, 1);
    background: rgba(40, 40, 40, 1);
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding:    0 5px;
    color:      rgba(217, 216, 216, 0.6);
}

#workspaces button.active {
    color: rgba(217, 216, 216, 1);
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    border-top: 3px solid rgba(217, 216, 216, 1);
    border-bottom: 3px solid rgba(217, 216, 216, 0);
    color: rgba(217, 216, 216, 1);
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    margin:     0px 6px 0px 10px;
    min-width:  25px;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
    border-top: 3px solid #EC7875;
    color: #EC7875;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}

#pulseaudio {
    border-top: 3px solid #42A5F5;
    color: #42A5F5;
}

#memory {
    border-top: 3px solid #FBC02D;
    color: #FBC02D;
}

#custom-mail {
    border-top: 3px solid #AC8476;
    color: #AC8476;
}

#custom-weather {
    border-top: 3px solid #6D8895;
    color: #6D8895;
}

#custom-temperature {
    border-top: 3px solid #4DD0E1;
    color: #4DD0E1;
}
